body{
	background-image: url("filmbg.jpg");
	background-repeat:repeat-y;
}
h1{
	text-align:center;
	font-size:80px;
	font-family: 'Shadows Into Light', cursive;
}
img{
	width:300px;
	height:300px;
	border-radius: 80px;
	margin-left:20%;
}
video{
	width:500px;
	height:300px;
	margin-left: 18%;
	position:absolute;		
}
p{
	font-size: 25px;
	color: black;
	text-decoration:justify;
	text-align:center;

}
.textbox{
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.6;
	width: 50%;
	margin-left:450px;
}
.title{
	font-size: 50px;
	background-color: #ffffff;
	opacity: 0.6;
	width: 30%;
	margin-left: 600px;
	font-family: 'Shadows Into Light', cursive;
}
ul {
  list-style-type: none;
  padding: 0;
  background-color: none;
  position: absolute;
  top:1em;
  right: 1em;
  }

li {
  float: left;
  
}

li a {
  display: block;
  color: black;
  padding: 25px;
  text-decoration: none;
  font-size:20px;
}

li a:hover {
  background-color: #111111;
  color:white;
}